.div-with-background-image {
    background-repeat: no-repeat;
}

.cover {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.contain {
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}